.about {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .about .div {
    background-color: var(--bg);
    overflow: hidden;
    width: 1437px;
    height: 2905px;
    position: relative;
  }
  
  .about .top-header {
    position: absolute;
    width: 1440px;
    height: 48px;
    top: 0;
    left: 0;
    background-color: black;
}
  
  .about .frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 231px;
    position: relative;
    top: 12px;
    left: 445px;
  }
  
  .about .frame-2 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .text-wrapper {
    width: 474px;
    height: 18px;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-14px-regular-font-size);
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    position: relative;
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .about .text-wrapper-2 {
    margin-top: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    position: relative;
    width: fit-content;
    color: var(--text);
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .about .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-14px-regular-font-size);
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .about .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .about .header {
    display: inline-flex;
    align-items: center;
    gap: 113px;
    position: absolute;
    top: 94px;
    left: -169px;
}
  
  .about .frame-4 {
    display: inline-flex;
    align-items: flex-start;
    gap: 99px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .logo {
    position: relative;
    width: 118px;
    height: 24px;
  }
  
  .about .text-wrapper-4 {
    color: var(--text-2);
    position: absolute;
    top: 49px;
    left: 3px;
    font-family: auto;
    font-weight: 600;
    font-size: larger;
    letter-spacing: var(--heading-24px-bold-letter-spacing);
    line-height: var(--heading-24px-bold-line-height);
    white-space: nowrap;
    font-style: var(--heading-24px-bold-font-style);
}
  .about .frame-5 {
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .div-wrapper {
    position: relative;
    width: 48px;
    height: 24px;
  }
  
  .about .text-wrapper-5 {
    position: absolute;
    top: -1px;
    left: 0;
    color: black;
    text-align: center;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .about .header-2 {
    position: relative;
    width: 66px;
    height: 24px;
  }
  
  .about .header-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color:black;
    font-size: var(--title-16px-regular-font-size);
    text-align: center;
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .about .under-line {
    position: relative;
    width: 48px;
    height: 1px;
    opacity: 0.5;
    /* background-image: url(./img/line-1-2.svg); */
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .about .header-4 {
    position: relative;
    width: 61px;
    height: 24px;
  }
  
  .about .frame-6 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .search-component-set {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 12px 7px 20px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--secondary);
    border-radius: 4px;
  }
  
  .about .frame-7 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .p {
    position: relative;
    width: fit-content;
    opacity: 0.5;
    font-family: var(--title-12px-regular-font-family);
    font-weight: var(--title-12px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-12px-regular-font-size);
    letter-spacing: var(--title-12px-regular-letter-spacing);
    line-height: var(--title-12px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-12px-regular-font-style);
  }
  
  .about .frame-8 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .img-2 {
    position: relative;
    width: 32px;
    height: 32px;
  }
  
  .about .with-buy {
    position: relative;
    width: 32px;
    height: 32px;
    /* background-image: url(./img/cart-1.svg); */
    background-size: 100% 100%;
  }
  
  .about .line {
    position: absolute;
    width: 1440px;
    height: 1px;
    top: 142px;
    left: 0;
  }
  
  .about .line-2 {
    position: absolute;
    width: 1437px;
    height: 1px;
    top: 0;
    left: 0;
  }
  
  .about .roadmap {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 222px;
    left: 135px;
  }
  
  .about .account {
    opacity: 0.5;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-14px-regular-font-size);
    line-height: var(--title-14px-regular-line-height);
    position: relative;
    width: fit-content;
    margin-top: -1px;
    letter-spacing: var(--title-14px-regular-letter-spacing);
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .about .line-3 {
    position: relative;
    width: 6.89px;
    height: 12.2px;
    object-fit: cover;
  }
  
  .about .nothing {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-14px-regular-font-size);
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .about .frame-9 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    top: 422px;
    left: 135px;
  }
  
  .about .text-wrapper-7 {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -100px;
    font-family: cursive;
    font-weight: initial;
    color: #000000;
    font-size: var(--heading-54px-semibold-font-size);
    text-align: justify;
    letter-spacing: var(--heading-54px-semibold-letter-spacing);
    line-height: var(--heading-54px-semibold-line-height);
    white-space: nowrap;
    font-style: var(--heading-54px-semibold-font-style);
}

user agent stylesheet

  
  .about .frame-10 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .text-wrapper-8 {
    position: relative;
    width: 556px;
    margin-top: -107px;
    font-family: ui-sans-serif;
    font-weight: 600;
    color: var(--text-2);
    font-size: 37px;
    letter-spacing: 3px;
    line-height: 31px;
}
  
  .about .exclusive-has-more {
    position: relative;
    width: 505px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--text-2);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
  }
  
  .about .side-image {
    position: absolute;
    width: 1120px;
    height: 601px;
    top: 285px;
    left: 701px;
    background-color: white;
    border-radius: 4px 0px 0px 4px;
    overflow: hidden;
}
  
  .about .portrait-two-african {
    position: absolute;
    width: 703px;
    height: 609px;
    top: 0;
    left: 0;
  }
  
  .about .full-services {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 88px;
    position: absolute;
    top: 2164px;
    left: 248px;
  }
  
  .about .frame-11 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .services {
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  .about .overlap-group {
    position: relative;
    height: 80px;
  }
  
  .about .group {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    /* background-image: url(./img/ellipse-6-5.svg); */
    background-size: 100% 100%;
  }
  
  .about .ellipse {
    position: relative;
    width: 58px;
    height: 58px;
    top: 11px;
    left: 11px;
    background-color: var(--button);
    border-radius: 29px;
  }
  
  .about .img-3 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
  }
  
  .about .frame-12 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-20px-semibold-font-family);
    font-weight: var(--title-20px-semibold-font-weight);
    color: #000000;
    font-size: var(--title-20px-semibold-font-size);
    letter-spacing: var(--title-20px-semibold-letter-spacing);
    line-height: var(--title-20px-semibold-line-height);
    white-space: nowrap;
    font-style: var(--title-20px-semibold-font-style);
  }
  
  .about .text-wrapper-10 {
    position: relative;
    width: fit-content;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: #000000;
    font-size: var(--title-14px-regular-font-size);
    text-align: center;
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .about .frame-13 {
    display: flex;
    flex-direction: column;
    width: 262px;
    align-items: center;
    gap: 24px;
    position: relative;
  }
  
  .about .ellipse-wrapper {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    /* background-image: url(./img/image.svg); */
    background-size: 100% 100%;
  }
  
  .about .text-wrapper-11 {
    position: relative;
    width: fit-content;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: #000000;
    font-size: var(--title-14px-regular-font-size);
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .about .group-2 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    /* background-image: url(./img/ellipse-6-2.svg); */
    background-size: 100% 100%;
  }
  
  .about .frame-14 {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: absolute;
    top: 1034px;
    left: 135px;
  }
  
  .about .frame-wrapper {
    position: relative;
    width: 270px;
    height: 230px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: #0000004c;
  }
  
  .about .frame-15 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    top: 30px;
    left: 50px;
  }
  
  .about .group-3 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    /* background-image: url(./img/ellipse-6-3.svg); */
    background-size: 100% 100%;
  }
  
  .about .frame-16 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-32px-bold-font-family);
    font-weight: var(--heading-32px-bold-font-weight);
    color: #000000;
    font-size: var(--heading-32px-bold-font-size);
    letter-spacing: var(--heading-32px-bold-letter-spacing);
    line-height: var(--heading-32px-bold-line-height);
    white-space: nowrap;
    font-style: var(--heading-32px-bold-font-style);
  }
  
  .about .free-delivery-for {
    position: relative;
    width: fit-content;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: #000000;
    font-size: var(--title-16px-regular-font-size);
    text-align: center;
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .about .frame-17 {
    position: relative;
    width: 270px;
    height: 230px;
    background-color: var(--secondary-2);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: var(--categogy-20);
  }
  
  .about .frame-18 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    top: 32px;
    left: 35px;
  }
  
  .about .group-4 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    /* background-image: url(./img/ellipse-6-4.svg); */
    background-size: 100% 100%;
  }
  
  .about .ellipse-2 {
    position: relative;
    width: 58px;
    height: 58px;
    top: 11px;
    left: 11px;
    background-color: var(--primary);
    border-radius: 29px;
  }
  
  .about .MONEY-BACK-GUARANTEE {
    color: var(--primary);
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-32px-bold-font-family);
    font-weight: var(--heading-32px-bold-font-weight);
    font-size: var(--heading-32px-bold-font-size);
    letter-spacing: var(--heading-32px-bold-letter-spacing);
    line-height: var(--heading-32px-bold-line-height);
    white-space: nowrap;
    font-style: var(--heading-32px-bold-font-style);
  }
  
  .about .we-reurn-money {
    color: var(--primary);
    position: relative;
    width: fit-content;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .about .frame-19 {
    display: flex;
    flex-direction: column;
    width: 262px;
    align-items: center;
    gap: 24px;
    position: relative;
    top: 30px;
    left: 4px;
  }
  
  .about .group-5 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    /* background-image: url(./img/ellipse-6.svg); */
    background-size: 100% 100%;
  }
  
  .about .text-wrapper-13 {
    position: relative;
    width: fit-content;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: #000000;
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .about .frame-20 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    top: 30px;
    left: 28px;
  }
  
  .about .group-6 {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    /* background-image: url(./img/ellipse-6-6.svg); */
    background-size: 100% 100%;
  }
  
  .about .frame-21 {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: absolute;
    top: 1404px;
    left: 135px;
  }
  
  .about .frame-22 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .image-wrapper {
    position: relative;
    width: 370px;
    height: 430px;
    background-color: var(--secondary);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .about .image {
    position: absolute;
    width: 236px;
    height: 391px;
    top: 39px;
    left: 67px;
  }
  
  .about .frame-23 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .frame-24 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .text-wrapper-14 {
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-32px-medium-font-family);
    font-weight: var(--heading-32px-medium-font-weight);
    color: #000000;
    font-size: var(--heading-32px-medium-font-size);
    letter-spacing: var(--heading-32px-medium-letter-spacing);
    line-height: var(--heading-32px-medium-line-height);
    position: relative;
    white-space: nowrap;
    font-style: var(--heading-32px-medium-font-style);
  }
  
  .about .frame-25 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .image-2 {
    position: absolute;
    width: 294px;
    height: 397px;
    top: 33px;
    left: 38px;
  }
  
  .about .image-3 {
    position: absolute;
    width: 326px;
    height: 392px;
    top: 38px;
    left: 22px;
  }
  
  .about .frame-26 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 2008px;
    left: 663px;
  }
  
  .about .ellipse-3 {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: var(--button);
    border-radius: 6px;
    opacity: 0.3;
  }
  
  .about .overlap-group-wrapper {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .about .overlap-group-2 {
    position: relative;
    height: 16px;
    border-radius: 8px;
  }
  
  .about .ellipse-4 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    background-color: var(--secondary-2);
    border-radius: 5px;
  }
  
  .about .ellipse-5 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border-radius: 8px;
    border: 2px solid;
    border-color: var(--button);
    opacity: 0.3;
  }
  
  .about .footer {
    position: absolute;
    width: 1440px;
    height: 440px;
    top: 2465px;
    left: 0;
    background-color: var(--button);
  }
  
  .about .frame-27 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 376px;
    left: 0;
    opacity: 0.4;
  }
  
  .about .line-wrapper {
    position: relative;
    width: 1440px;
    height: 1px;
    opacity: 0.5;
  }
  
  .about .line-4 {
    position: absolute;
    width: 1437px;
    height: 1px;
    top: -1px;
    left: 0;
    object-fit: cover;
  }
  
  .about .frame-28 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
    opacity: 0.6;
  }
  
  .about .frame-29 {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .icon-copyright {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .about .text-wrapper-15 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--primary);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .about .frame-30 {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 87px;
    position: absolute;
    top: 80px;
    left: 135px;
  }
  
  .about .text-wrapper-16 {
    color: var(--text);
    position: absolute;
    top: -1px;
    left: 0;
    font-family: var(--heading-24px-bold-font-family);
    font-weight: var(--heading-24px-bold-font-weight);
    font-size: var(--heading-24px-bold-font-size);
    letter-spacing: var(--heading-24px-bold-letter-spacing);
    line-height: var(--heading-24px-bold-line-height);
    white-space: nowrap;
    font-style: var(--heading-24px-bold-font-style);
  }
  
  .about .text-wrapper-17 {
    position: relative;
    width: fit-content;
    font-family: var(--title-20px-medium-font-family);
    font-weight: var(--title-20px-medium-font-weight);
    color: var(--text);
    font-size: var(--title-20px-medium-font-size);
    letter-spacing: var(--title-20px-medium-letter-spacing);
    line-height: var(--title-20px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-20px-medium-font-style);
  }
  
  .about .text-wrapper-18 {
    position: relative;
    width: fit-content;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .about .send-mail {
    display: flex;
    width: 217px;
    align-items: center;
    gap: 32px;
    padding: 12px 0px 12px 16px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
    border: 1.5px solid;
    border-color: var(--text);
  }
  
  .about .text-wrapper-19 {
    position: relative;
    width: fit-content;
    margin-top: -1.5px;
    opacity: 0.4;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .about .text-wrapper-20 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-20px-medium-font-family);
    font-weight: var(--title-20px-medium-font-weight);
    color: var(--text);
    font-size: var(--title-20px-medium-font-size);
    letter-spacing: var(--title-20px-medium-letter-spacing);
    line-height: var(--title-20px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-20px-medium-font-style);
  }
  
  .about .element-bijoy-sarani {
    position: relative;
    width: 175px;
    margin-top: -1px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    font-style: var(--title-16px-regular-font-style);
  }
  
  .about .text-wrapper-21 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .about .text-wrapper-22 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    opacity: 0.7;
    font-family: var(--title-12px-medium-font-family);
    font-weight: var(--title-12px-medium-font-weight);
    color: var(--text);
    font-size: var(--title-12px-medium-font-size);
    letter-spacing: var(--title-12px-medium-letter-spacing);
    line-height: var(--title-12px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-12px-medium-font-style);
  }
  
  .about .qr-code {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #000000;
  }
  
  .about .qrcode {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .about .frame-31 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .about .google-play {
    position: relative;
    width: 110px;
    height: 40px;
    background-color: #030406;
  }
  
  .about .overlap-group-3 {
    position: relative;
    width: 105px;
    height: 31px;
    top: 4px;
    left: 2px;
    /* background-image: url(./img/png-transparent-google-play-store-logo-google-play-app-store-android-wallets-text-label-logo.png); */
    background-size: 100% 100%;
  }
  
  .about .overlap {
    position: absolute;
    width: 3px;
    height: 5px;
    top: 17px;
    left: 95px;
  }
  
  .about .vector {
    position: absolute;
    width: 2px;
    height: 2px;
    top: 0;
    left: 1px;
  }
  
  .about .vector-2 {
    position: absolute;
    width: 2px;
    height: 5px;
    top: 0;
    left: 0;
  }
  
  .about .vector-3 {
    position: absolute;
    width: 2px;
    height: 3px;
    top: 1px;
    left: 0;
  }
  
  .about .vector-4 {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 17px;
    left: 92px;
  }
  
  .about .app-store {
    position: relative;
    width: 110px;
    height: 40px;
    background-color: #000000;
  }
  
  .about .download-appstore {
    position: absolute;
    width: 105px;
    height: 35px;
    top: 2px;
    left: 2px;
  }
  
  .about .frame-32 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  